table{
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

td {
    width: 80px;
    height:  80px;
    text-align: center;
}